/* EVOKE styling for printing - assumes a foundation of bootstrap 4 standard styles */

body {
font-size: 1.2rem;
}

h1.title {
font-size: 72px;
text-transform: uppercase;
}

h1 {
font-size: 48px;
text-transform: uppercase;
}

h2 {
font-size: 32px;
text-transform: uppercase;
}

h3 {
font-size: 29px;
text-transform: uppercase;
}

h4 {
font-size: 26px;
text-transform: uppercase;
}

h5 {
font-size: 23px;
text-transform: uppercase;
}

h6 {
font-size: 20px;
text-transform: uppercase;
}

/* anchors are now eliminated in print output by substituting spans for them
a:hover {
text-decoration: none;
}

a {
color: #212529;
text-decoration: none;
}
*/